body{
  text-align: center;
  background-color: #c4e6f55e;
  justify-content: center;
  align-items: center;
  display: flex;
}
.game {
  width: 300px;
  height: 300px;
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 2px solid #3f51b5;
}
.cell {
  border: 1px solid mediumvioletred;
}
.alive {
  background-color: rosybrown;
}


.cell--active {
  border: 3px solid black;
}

.gameSettings {
  padding: 0 30px;
}
#startGame {
  margin-top: 25px;
  width: 130px;
  font-size: 14px;
  height: 25px;
}